.container-fluid {
  padding-bottom: 10px;
  width: 90%;
  text-align: center; }

#home #homeImage {
  background-image: url("/img/collection-national-flags.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 40px;
  margin-top: 40px; }
  @media screen and (min-width: 720px) {
    #home #homeImage {
      width: 400px;
      margin-left: auto;
      margin-right: auto; } }
#home #startApp {
  margin-top: 15px;
  font-size: 30px;
  width: 100%; }
  @media screen and (min-width: 720px) {
    #home #startApp {
      width: 400px; } }

#play input[name="country-name"] {
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 30px;
  height: 50px !important; }
  @media screen and (min-width: 720px) {
    #play input[name="country-name"] {
      width: 400px;
      margin-left: auto;
      margin-right: auto; } }
#play button {
  width: 193px;
  text-transform: uppercase; }
  #play button#submitAnswer {
    margin-right: 10px; }
  #play button#endGame {
    margin-top: 40px;
    width: 100%;
    padding: 50px 9; }
    @media screen and (min-width: 720px) {
      #play button#endGame {
        width: 400px;
        opacity: 0.5; }
        #play button#endGame:hover {
          opacity: 1; } }
#play #scoreKeep {
  font-size: 25px;
  padding-top: 21px; }
@media screen and (min-width: 720px) {
  #play #options {
    width: 400px;
    margin-left: auto;
    margin-right: auto; } }
#play .flex-cont {
  display: flex;
  justify-content: space-between; }
#play .lives {
  display: flex;
  margin-top: auto;
  margin-bottom: auto; }
  #play .lives div {
    width: 20px;
    height: 20px;
    background-color: #18F500;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px; }
  #play .lives[state="two-lives"] #lifeThree {
    background-color: #CF0000; }
  #play .lives[state="one-life"] #lifeThree, #play .lives[state="one-life"] #lifeTwo {
    background-color: #CF0000; }
  #play .lives[state="no-lives"] #lifeThree, #play .lives[state="no-lives"] #lifeTwo, #play .lives[state="no-lives"] #lifeOne {
    background-color: #CF0000; }
#play .image-cont {
  margin: 50px 0;
  min-height: 200px; }
  #play .image-cont img {
    width: 100%;
    border: 1px solid #F2F2F2; }
    @media screen and (min-width: 320px) {
      #play .image-cont img {
        width: 300px; } }
    @media screen and (min-width: 720px) {
      #play .image-cont img {
        width: 400px; } }
#play #answer {
  padding-bottom: 15px;
  font-size: 25px;
  text-transform: uppercase;
  display: none; }
#play .positive-reinforcement {
  display: none;
  font-size: 45px;
  color: #18F500; }

#endGameView {
  text-align: center;
  text-transform: capitalize; }
  #endGameView button#restartGame {
    margin-top: 30px;
    width: 193px; }
  #endGameView .input-group {
    width: 100%; }
    #endGameView .input-group input {
      font-size: 20px; }
    @media screen and (min-width: 720px) {
      #endGameView .input-group {
        width: 450px;
        margin-left: auto;
        margin-right: auto; } }
  #endGameView ul#scoreBoard {
    width: 100%;
    margin-top: 20px;
    font-size: 20px; }
    @media screen and (min-width: 720px) {
      #endGameView ul#scoreBoard {
        width: 450px;
        margin-left: auto;
        margin-right: auto; } }
  #endGameView ul.user-item {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    justify-content: space-between; }

#region {
  text-transform: capitalize; }
  #region .list-group {
    font-size: 20px;
    padding-top: 30px; }
