<section id="play">
		<div class="row flex-cont" id="scoreKeep">
			<div class="lives" state="full">
				<div id="lifeOne"></div>
				<div id="lifeTwo"></div>
				<div id="lifeThree"></div>
			</div>
			<div class="record">
				<span>Correct: </span><span id="number">0</span>
			</div>
		</div>

		<div class="row image-cont">
			<div id="answer"></div>
			<img id="countryImage" />
		</div>

		<div class="row positive-reinforcement">
			<span>Correct!</span>
		</div>

		<div class="row">
			<input type="text" class="form-control" name="country-name" placeholder="Enter Answer">
		</div>

		<div class="row">
			<div class="flex-cont" id="options">
				<button type="button" class="btn btn-success" id="submitAnswer">submit</button>
				<button type="button" class="btn btn-primary" id="skipQuestion">skip</button>
			</div>
		</div>

		<div class="row">
			<button type="button" class="btn btn-danger" id="endGame">End Game</button>
		</div>
	</section>