@import 'constants';
body {
	background-color:$midnight-blue !important;
}
.container-fluid {
	padding-bottom: 10px;
	width: 90%;
	text-align: center;
}
#home {
	h1 {
		color: $columbia-blue !important;
	}
	#homeImage {
		background-image: url('/img/collection-national-flags.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 400px;
		margin: 40px auto;
		@media screen and (min-width: 720px) {
			width: 400px;
		}
	}
	#startApp {
		margin-top: 15px;
		font-size: 30px;
		width: 100%;
		@media screen and (min-width: 720px) {
			width: 400px;
		}
	}
}

#play {
	input[name="country-name"] {
		text-align: center;
		display: block;
		margin: 10px auto;
		width: 100%;
		font-size: 30px;
		height: 50px !important;
		@media screen and (min-width: 720px) {
			width: 400px;
		}
	}
	button {
		width: 193px;
		text-transform: uppercase;
		&#submitAnswer {
			margin-right: 10px;
		}
		&#endGame {
			margin-top: 40px;
			width: 100%;
			@media screen and (min-width: 720px) {
				width: 400px;
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
			padding: 50px 9;
		}
	}
	#scoreKeep {
		font-size: 25px;
		padding-top: 21px;
		color:$columbia-blue;
	}
	#options {
		@media screen and (min-width: 720px) {
			width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.flex-cont {
		display: flex;
		justify-content: space-between;
	}
	.lives {
		display: flex;
		margin-top: auto;
		margin-bottom: auto;
		div {
			width: 20px;
			height: 20px;
			background-color:#18F500;
			border-radius: 50%;
			margin-left: 5px;
			margin-right: 5px;
		}
		&[state="two-lives"] {
			#lifeThree {
				background-color: #CF0000;
			}
		}
		&[state="one-life"] {
			#lifeThree, #lifeTwo {
				background-color: #CF0000;
			}
		}
		&[state="no-lives"] {
			#lifeThree, #lifeTwo, #lifeOne {
				background-color: #CF0000;
			}
		}
	}
	.image-cont {
		margin: 25px 0;
		min-height: 200px;
		img {
			width: 100%;
			border: 1px solid $border-white;
			@media screen and (min-width: 320px) {
				width: 300px;
			}
			@media screen and (min-width: 720px) {
				width: 400px;
			}
		}
	}
	#answer {
		font-size: 45px;
		text-transform: uppercase;
		opacity: 0;
		color:$columbia-blue;
	}
	.positive-reinforcement {
		display: none;
		font-size: 45px;
		color: $green;
	}
	#easy, #genius {
		display: none;
	}
	.choices {
		list-style:none;
		margin: 0 auto;
		padding: 0;
		@media screen and (min-width: 320px) {
			width: 300px;
		}
		@media screen and (min-width: 720px) {
			width: 400px;
		}
	}
	.choice {
		background-color: $grey;
		height: 39px;
		margin-top: 10px;
		border-radius: 5px;
		&.clicked {
			background-color: $columbia-blue;
			color: $white;
		}
		a {
			display: block;
			height: 100%;
			text-decoration: none;
			font-size: 25px;
			color: $midnight-blue;
			text-transform: capitalize;
			&:hover {
				background-color: #82D1F2;
				border-radius: 5px;
				color: $white;
			}
		}
	}
}

#endGameView {
	h1, h3 {
		color:$columbia-blue;
	}
	text-align: center;
	text-transform: capitalize;
	button#restartGame {
		margin-top: 30px;
		width: 193px;
	}
	.input-group {
		width: 100%;
		input {
			font-size: 20px;
		}
		@media screen and (min-width: 720px) {
			width: 450px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	ul {
		&#scoreBoard {
			width: 100%;
			margin-top: 20px;
			font-size: 20px;
			@media screen and (min-width: 720px) {
				width: 450px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&.user-item {
			display: flex;
			margin: 0;
			list-style: none;
			padding: 0;
			justify-content: space-between;
		}
	}
}

#region, #difficulty {
	h1 {
		color:$columbia-blue;
	}
	text-transform: capitalize;
	.list-group {
		color:$columbia-blue !important;
		font-size: 20px;
		padding-top: 30px;
		a.list-group-item {
			color:$midnight-blue;
		}

	}

}
