#home {
	div {
		text-align: center;
	}
	#homeImage {
		width: 400px;
		height: 300px;
	}
	#startApp {
		margin-top: 15px;
		font-size: 30px;
		padding: 20px 200px;
	}
}

#play {
	text-align: center;
	input[name="country-name"] {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 400px;
		font-size: 30px;
		height: 50px !important;
	}
	button {
		width: 193px;
		&#submitAnswer {
			margin-right: 10px;
		}
	}
	.flex-cont {
		display: flex;
		justify-content: space-between;
		font-size: 19px;
	}
	.lives {
		display: flex;
		margin-top: auto;
		margin-bottom: auto;
		div {
			width: 10px;
			height: 10px;
			background-color:#18F500;
			border-radius: 50%;
			margin-left: 5px;
			margin-right: 5px;
		}
		&[state="two-lives"] {
			#lifeThree {
				background-color: #CF0000;
			}
		}
		&[state="one-life"] {
			#lifeThree, #lifeTwo {
				background-color: #CF0000;
			}
		}
		&[state="no-lives"] {
			#lifeThree, #lifeTwo, #lifeOne {
				background-color: #CF0000;
			}
		}
	}
	.image-cont {
		margin: 50px 0;
		height: 300px;
		img {
			width: 400px;
			border: 1px solid #F2F2F2;
		}
	}
	#answer {
		padding-bottom: 15px;
		font-size: 25px;
		text-transform: uppercase;
		display: none;
	}
	.positive-reinforcement {
		display: none;
		font-size: 45px;
		color: #18F500;
	}
}
